.header {
  grid-area: header;
  background: cadetblue;
  display: flex;
  align-items: center;
  padding: 0 15px;
  //justify-content: space-between;
}

.logo-w {
  overflow: hidden;
  position: relative;
  width: 60px;
}

.logo {
  max-width: 100%;
}

.login-block {
  margin: 0 0 0 40px;
  & a {
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
}
